.start-page-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.start-page-h1 {
  margin: 0;
  font-family: Atomic-SC, sans-serif;
  font-size: 7rem;
  font-weight: 700;
}

.start-page-a {
  align-self: flex-end;
  color: black;
}

.start-page-text {
  margin: 0;
  font-size: 1.5rem;
}
