.start-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 64px);
}

.start-page-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.start-page h1 {
  margin: 0;
  font-family: Atomic-SC, sans-serif;
  font-size: 7rem;
  font-weight: 700;
}

.start-page-title a {
  align-self: flex-end;
  color: black;
}

.start-page-text {
  margin: 0;
  font-size: 1.5rem;
}
