.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;

  padding: 1rem 1rem 0;
}

.header .button-container {
  display: flex;
  gap: 1rem;
}

.header .space {
  flex-grow: 1;
}
