.modal {
  /* eslint-disable-next-line css/use-baseline */
  user-select: none;

  padding: 1rem;
  border: solid 1px black;
  border-radius: 1rem;

  background-image: url("./../../../../assets/images/background-light.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
