.results-modal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  font-size: 1.5rem;
}

.results-modal h2 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.results-modal .time-score {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.results-modal span {
  text-transform: capitalize;
}

.results-modal .controls {
  display: flex;
  gap: 1.5rem;
}

@media (width <= 520px) {
  .results-modal {
    font-size: 1rem;
  }
}

@media (width <= 460px) {
  .results-modal .controls {
    gap: 0.5rem;
  }

  .results-modal button {
    width: 90px;
  }
}
