.control-tools {
  display: flex;
  grid-area: 1 / 1 / 1 / 1;
  flex-direction: column;
  gap: 1rem;
}

.control-tools button {
  width: 270px;
}

@media (width <= 1060px) {
  .control-tools {
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media (width <= 768px) {
  .control-tools,
  .control-tools button {
    width: 200px;
  }
}
