.burger-cross {
  cursor: pointer;

  position: relative;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: space-between;

  height: 28px;
  padding: 5px;
}

.burger-cross div {
  width: 28px;
  height: 3px;

  /* eslint-disable-next-line css/no-invalid-properties */
  background-color: var(--color-base-dark);

  /* eslint-disable-next-line css/no-invalid-properties */
  transition: var(--transition);
}

.burger-cross.dark div {
  /* eslint-disable-next-line css/no-invalid-properties */
  background-color: var(--color-base-light);
}

.burger-cross.open div:nth-child(1) {
  transform: rotate(45deg) translate(7px, 10px) scaleX(1.3);
}

.burger-cross.open div:nth-child(2) {
  opacity: 0;
}

.burger-cross.open div:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -10px) scaleX(1.3);
}

.burger-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: rgb(0 0 0 / 75%);

  /* eslint-disable-next-line css/no-invalid-properties */
  transition: var(--transition);
}

.burger-panel.open {
  left: 0;
}

@media (width <= 705px) {
  .burger-cross.enabled {
    display: flex;
  }
}
