.game-field {
  overflow-y: scroll;
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  align-self: self-start;

  max-height: calc(100vh - 184px);
  padding-right: 3px;
  border: solid 2px gray;

  background-color: gray;
}

@media (width <= 1060px) {
  .game-field {
    grid-area: 1 / 1 / 3 / 2;
  }
}
