<button
  type="button"
  class="assist-button"
  (click)="hint()"
  [disabled]="store.gameCounters.hints() === 0"
>
  hints:
  {{ store.gameCounters.hints() > 5 ? "5+" : store.gameCounters.hints() }}
</button>
<button
  type="button"
  class="assist-button"
  (click)="revert()"
  [disabled]="store.gameCounters.reverts() === 0"
>
  revert: {{ store.gameCounters.reverts() }} / 1
</button>
<button
  type="button"
  class="assist-button"
  (click)="add()"
  [disabled]="store.gameCounters.adds() === 0"
>
  add numbers: {{ store.gameCounters.adds() }} / 10
</button>
<button
  type="button"
  class="assist-button"
  (click)="shuffle()"
  [disabled]="store.gameCounters.shuffles() === 0"
>
  shuffle: {{ store.gameCounters.shuffles() }} / 5
</button>
<button
  type="button"
  [ngClass]="[
    'assist-button',
    store.gameState.eraserMode() ? 'eraser-mode' : '',
  ]"
  (click)="eraser()"
  [disabled]="store.gameCounters.erasers() === 0"
>
  eraser: {{ store.gameCounters.erasers() }} / 5
</button>
