<button type="button" class="assist-button">
  hints: {{ store.hints() > 5 ? "5+" : store.hints() }}
</button>
<button type="button" class="assist-button">revert</button>
<button
  type="button"
  class="assist-button"
  (click)="add()"
  [disabled]="store.adds() === 0"
>
  add numbers: {{ store.adds() }} / 10
</button>
<button
  type="button"
  class="assist-button"
  (click)="shuffle()"
  [disabled]="store.shuffles() === 0"
>
  shuffle: {{ store.shuffles() }} / 5
</button>
<button type="button" class="assist-button">eraser</button>
