.assist-tools {
  display: flex;
  grid-area: 1 / 3 / 2 / 4;
  flex-direction: column;
  gap: 1rem;

  width: 270px;
}

.assist-tools .eraser-mode {
  /* eslint-disable-next-line css/no-invalid-properties */
  box-shadow: 0 0 5px 7px var(--color-base-light);
}

@media (width <= 1060px) {
  .assist-tools {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (width <= 768px) {
  .assist-tools,
  .assist-tools button {
    width: 200px;
  }
}
