.eraser-mode {
  /* eslint-disable-next-line css/no-invalid-properties */
  box-shadow: 0 0 5px 7px var(--color-base-light);
}

@media (width <= 1060px) {
  .assist-tools {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (width <= 768px) {
  .assist-button {
    width: 200px;
  }
}
