<button type="button" class="assist-button">
  hints: {{ store.hints() > 5 ? "5+" : store.hints() }}
</button>
<button
  type="button"
  class="assist-button"
  (click)="revert()"
  [disabled]="store.reverts() === 0"
>
  revert: {{ store.reverts() }} / 1
</button>
<button
  type="button"
  class="assist-button"
  (click)="add()"
  [disabled]="store.adds() === 0"
>
  add numbers: {{ store.adds() }} / 10
</button>
<button
  type="button"
  class="assist-button"
  (click)="shuffle()"
  [disabled]="store.shuffles() === 0"
>
  shuffle: {{ store.shuffles() }} / 5
</button>
<button
  type="button"
  [ngClass]="['assist-button', store.eraserMode() ? 'eraser-mode' : '']"
  (click)="eraser()"
  [disabled]="store.erasers() === 0"
>
  eraser: {{ store.erasers() }} / 5
</button>
