.game-container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 4rem 1rem;
}

.mode-info {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.timer-score {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.control-tools {
  display: flex;
  grid-area: 1 / 1 / 1 / 1;
  flex-direction: column;
  gap: 1rem;
}

.assist-tools {
  display: flex;
  grid-area: 1 / 3 / 2 / 4;
  flex-direction: column;
  gap: 1rem;

  width: 270px;
}

.game-field {
  overflow-y: scroll;
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  align-self: self-start;

  max-height: calc(100vh - 184px);
  padding-right: 3px;
  border: solid 2px gray;

  background-color: gray;
}

@media (width <= 1060px) {
  .game-container {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content 1fr;
  }

  .game-field {
    grid-area: 1 / 1 / 3 / 2;
  }
}

@media (width <= 768px) {
  .game-container {
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: min-content 1fr;
  }
}

@media (width <= 705px) {
  .game-container {
    display: block;
  }
}

@media (width <= 1060px) {
  .control-tools {
    grid-area: 2 / 2 / 3 / 3;
  }

  .assist-tools {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media (width <= 768px) {
  .control-tools,
  .assist-tools {
    width: 200px;
  }
}
