.high-scores-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
}

.high-scores-page .container {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-template-rows: repeat(6, max-content);

  padding: 1rem;
  border: solid 2px black;
  border-radius: 1rem;

  font-size: 1.5rem;
  text-align: center;

  /* eslint-disable-next-line css/no-invalid-properties */
  background-color: var(--color-base-light);
}

.high-scores-page .title-name {
  padding: 1rem 1.5rem;
  text-transform: capitalize;
}

.high-scores-page .cell {
  padding: 1rem 1.5rem;
  border-top: solid 2px black;
}

.high-scores-page img {
  width: 20px;
}

.high-scores-page .no-line {
  grid-area: 2 / 1 / 3 / 6;
  padding: 1rem;
  border-top: solid 1px black;
}

@media (width <= 620px) {
  .high-scores-page .container {
    font-size: 1rem;
  }

  .high-scores-page .title-name,
  .high-scores-page .cell {
    padding: 0.75rem 1rem;
  }
}

@media (width <= 430px) {
  .high-scores-page .title-name,
  .high-scores-page .cell {
    padding: 0.75rem 0.5rem;
  }
}
